extends layout
block styles
 link(href='media/css/drop.css', rel='stylesheet')
block scripts
 script(src='media/js/drop-api.js')
block content
 section#dropbox
  canvas#canvas(width='500', height='300')
 section#picturesbox
  img#image1(src='media/img/cake1.png')
  img#image2(src='media/img/item.png')
  img#image3(src='media/img/item2.png')