extends layout
block content
 h2=text.name
 div !{text.body}
 .container.cont-cake
   row.content2
     .col-md-4.cake
       article.task
         .blockimg.centertop
         .blockimg-mid
           img.lenta(src='media/img/lenta.png')
           span.lenta-nadpis Deliciousness 
           img.imagecake(src='media/img/cake1.png')
           |                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
         .blockimg.centerbottom
     .col-md-4.cake
       article.task
         .blockimg.centertop
         .blockimg-mid
           img.lenta(src='media/img/lenta.png')
           span.lenta-nadpis Deliciousness 
           img.imagecake(src='media/img/cake1.png')
           |                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
         .blockimg.centerbottom
     .col-md-4.cake
       article.task
         .blockimg.centertop
         .blockimg-mid
           img.lenta(src='media/img/lenta.png')
           span.lenta-nadpis Deliciousness 
           img.imagecake(src='media/img/cake1.png')
           |                       Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,
         .blockimg.centerbottom