<section id='player'>
  <video id='media' width=720px height=400px>
    <source src='http://www.formasterminds.com/content/trailer.mp4'/>
    <source src='http://www.formasterminds.com/content/trailer.ogv'/>
  </video>
  <div id='buttons'>
    <input type
    
  </div>
  
  
</section>